body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    background-image: url('https://images.squarespace-cdn.com/content/v1/56a867d3df40f3b3891a5dd1/1538631918104-AATAYDZPAH091ULFV1MK/graduation.jpg?format=2500w');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #E44D26;
}

#scholarship-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scholarship-number {
    font-weight: bold;
    font-size: 1.2em;
    color: #007BFF;
}

.bold {
    font-weight: bold;
    color: #333;
}
